#ne-button {

	/* Draw a button */
	.draw(@height: 20px; @padding: 2px 15px) {
		padding: @padding;
		height: @height;
		line-height: @height;
		font-size: @fontsize-s;
		.inline-block;
		cursor: pointer;
	}

	/* Button with an icon */
	.iconic(@size: 20px; @padding: 2px 15px 2px 30px; @ico-margin: 2px 0 0 4px) {
		#ne-button > .draw;
		#ne-icon > .draw(@size; @padding; @ico-margin);
	}

	/* Button with an icon and no text */
	.iconly(@size: 20px; @padding: 2px 13px !important; @ico-margin: 2px 0 0 2px) {
		#ne-button > .draw;
		#ne-icon > .draw(@size; @padding; @ico-margin);
	}

	/* Disable a button */
	.disable {
		cursor: default;
		#alpha > .opacity(.5);
	}

}

#ne-buttons() {
	margin:0;
	li { .inline-block; margin: 0 0 0 15px; }
	li:first-child { margin: 0; }
}